<div class="card">
  <div class="card-header">
    <h6>Who to follow</h6>
  </div>

  <div class="card-body">
    <ul class="list-group list-group-flush">
      <%= 3.times do %>
      <li class="list-group-item d-flex py-1">
        <figure class="mb-0 mr-2">
          <img class="rounded-circle" src="https://bulma.io/images/placeholders/32x32.png">
        </figure>
        <p class="mb-0">Content</p>
      </li>
      <% end %>
    </ul>
  </div>
</div>
