<div class="card my-3">
  <div class="card-header">
    <h6 class="mb-0 text-muted">Profile</h6>
  </div>
  <div class="card-body d-flex">
    <figure class="mb-0 mr-2">
      <%= gravatar_image_tag(current_user.email, size: 64, alt: current_user.name, class: "rounded-circle av-64") %>
    </figure>
    <p class="fw-bold"><%= current_user.name %></p>
  </div>
  <div class="card-footer p-0">
    <div class="row gx-0">
      <div class="col-4 text-center p-1">
        <h6 class="fs-11 fw-light text-muted mb-0">TWITS</h6>
        <b class="lh-0"><%= current_user.twits.count %></b>
      </div>
      <div class="col-4 text-center p-1">
        <h6 class="fs-11 fw-light text-muted mb-0">FOLLOWERS</h6>
        <b class="lh-0">453K</b>
      </div>
      <div class="col-4 text-center p-1">
        <h6 class="fs-11 fw-light text-muted mb-0">FOLLOWING</h6>
        <b class="lh-0">3K</b>
      </div>
    </div>
  </div>
</div>
