<div class="container-lg mt-4">
  <div class="row">
    <div class="col-md-3">
      <%= render 'trends' %>
    </div>
    <div class="col-md-6">
      <%= render 'feed' %>
    </div>
    <div class="col-md-3">
      <%= render 'follow_suggestions' %>
    </div>
  </div>
</div>
