<div class="container-lg">
  <div class="row">
    <div class="col-md-3">
      <div class="sticky-top pt-5">
        <%= render 'trends' %>
      </div>
    </div>
    <div class="col-md-6 pt-5 mt-3">
      <%= render 'feed' %>
    </div>
    <div class="col-md-3">
      <div class="sticky-top pt-5">
        <%= render 'follow_suggestions' %>
      </div>
    </div>
  </div>
</div>
