<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-5 col-lg-4">
      <div class="card shadow">
        <div class="card-body py-5">
          <h1 class="card-title fs-4 fw-bold">New Twit</h1>

          <%= render 'form', twit: @twit %>

          <p class="fw-light mt-3">
            <%= link_to 'Back', twits_path %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
